body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: auto;
    background-color:rgb(55, 139, 70)
}

body.modo-escuro {
    color: f5f5f5;
    background-color: #212134;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header #logo,
header #Sol {
    width: 47px;
}

header #logo:hover,
header #Sol:hover,
main .cartao_pokemon:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}


#botao_alterar_tema {
    background: none;
    border: none;
}

main {
    padding: 25px;
}

.listagem_pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao_pokemon {
    background-color: #8ec451;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    padding: 15px;
}

.cartao_pokemon:hover {
    background-color: #96d9d6;
}

.modo-escuro .cartao_pokemon {
    background-color: #7878be;
    color: #000000;
}

.modo-escuro #Sol{
    width: 44px;
}

.cartao_pokemon {
    display: flex;
    justify-content: space-between;

}

main .cartao_pokemon .informacoes {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 17px;
}

.gif {
    width: 80px;
    height: 80px;
}

.tipos {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.tipo {
    padding: 10px;
    border-radius: 10px;
}

.grama {
    background-color: #81d84f;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a;
}

p {
    max-height: 100px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
    font-weight: bold;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
}

@media(max-width:500px){
    .cartao_pokemon .informacoes p{
        
        width: 50%}

}
